In [14]:
from nltk import sent_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import pandas as pd
import textwrap
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer,PorterStemmer

In [15]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dellb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dellb\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [2]:
df=pd.read_csv('datasets/bbc_text_cls.csv')

In [3]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [18]:
doc=df[df['labels']=='business']['text'].sample(random_state=42)

In [21]:
def wrap(x):
    return textwrap.fill(x,replace_whitespace=False,fix_sentence_endings=True)

In [22]:
print(wrap(doc.iloc[0]))

Christmas sales worst since 1981

UK retail sales fell in December,
failing to meet expectations and making it by some counts the worst
Christmas since 1981.

Retail sales dropped by 1% on the month in
December, after a 0.6% rise in November, the Office for National
Statistics (ONS) said.  The ONS revised the annual 2004 rate of growth
down from the 5.9% estimated in November to 3.2%. A number of
retailers have already reported poor figures for December.  Clothing
retailers and non-specialist stores were the worst hit with only
internet retailers showing any significant growth, according to the
ONS.

The last time retailers endured a tougher Christmas was 23 years
previously, when sales plunged 1.7%.

The ONS echoed an earlier
caution from Bank of England governor Mervyn King not to read too much
into the poor December figures.  Some analysts put a positive gloss on
the figures, pointing out that the non-seasonally-adjusted figures
showed a performance comparable with 2003. The November-December jump
last year was roughly comparable with recent averages, although some
way below the serious booms seen in the 1990s.  And figures for retail
volume outperformed measures of actual spending, an indication that
consumers are looking for bargains, and retailers are cutting their
prices.

However, reports from some High Street retailers highlight
the weakness of the sector.  Morrisons, Woolworths, House of Fraser,
Marks & Spencer and Big Food all said that the festive period was
disappointing.

And a British Retail Consortium survey found that
Christmas 2004 was the worst for 10 years.  Yet, other retailers -
including HMV, Monsoon, Jessops, Body Shop and Tesco - reported that
festive sales were well up on last year.  Investec chief economist
Philip Shaw said he did not expect the poor retail figures to have any
immediate effect on interest rates.  "The retail sales figures are
very weak, but as Bank of England governor Mervyn King indicated last
night, you don't really get an accurate impression of Christmas
trading until about Easter," said Mr Shaw.  "Our view is the Bank of
England will keep its powder dry and wait to see the big picture."

In [23]:
sents=sent_tokenize(doc.iloc[0].split("\n",1)[1])

In [24]:
featurizer=TfidfVectorizer(stop_words=stopwords.words('english'),norm='l1')#no bias towards longer sentences

In [25]:
X=featurizer.fit_transform(sents)

In [27]:
def get_sentence_score(tfidf_row):
    #avg of non-zero values
    x=tfidf_row[tfidf_row!=0]
    return x.mean()

In [28]:
scores=np.zeros(len(sents))
for i in range(len(sents)):
    score=get_sentence_score(X[i,:])
    scores[i]=score

In [29]:
sort_idx=np.argsort(-scores)

In [32]:
print("generated summary: ")
for i in sort_idx[:5]:
    print(wrap("%.2f %s" % (scores[i], sents[i])))

generated summary:
0.14 A number of retailers have already reported poor figures for
December.
0.13 However, reports from some High Street retailers highlight the
weakness of the sector.
0.12 The ONS revised the annual 2004 rate of growth down from the 5.9%
estimated in November to 3.2%.
0.10 "Our view is the Bank of England will keep its powder dry and
wait to see the big picture."
0.10 And a British Retail Consortium survey found that Christmas 2004
was the worst for 10 years.

In [33]:
##funtion for abpve code

def summarize(text):
    #tokenize into sentences
    sents=sent_tokenize(text)
    
    #perform tf-idf
    X=featurizer.fit_transform(sents)
    
    #calculate score
    scores=np.zeros(len(sents))
    for i in range(len(sents)):
        score=get_sentence_score(X[i,:])
        scores[i]=score
    
    sort_idx=np.argsort(-scores)
    
    print("generated summary: ")
    for i in sort_idx[:5]:
        print(wrap("%.2f %s" % (scores[i], sents[i])))